// Copyright 2022 KMEE
// License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl).

.favorite-categories-bar {
    min-height: 45px;
    background-color: var(--bs-light);
    border-bottom: 1px solid var(--bs-border-color);

    .category-simple-button {
        display: flex;
        align-items: center;

        .category-image {
            width: 24px;
            height: 24px;
            object-fit: cover;
            border-radius: 4px;
        }
    }
}
